.btn{
    width: 190px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: rgb(85,235,255);
    background: -moz-linear-gradient(90deg, rgba(85,235,255,1) 0%, rgba(1,182,252,1) 100%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(85,235,255,1) 0%, rgba(1,182,252,1) 100%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(85,235,255,1) 0%, rgba(1,182,252,1) 100%, rgba(0,212,255,1) 100%);
}